html {
  background-color: #F9F8F2;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: absolute;
  top: 4%;
  margin: 5%;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Slideshow fading animation */
.fadeslow {
  -webkit-animation-name: fadeslow;
  -webkit-animation-duration: 3s;
  animation-name: fadeslow;
  animation-duration: 3s;
}

@-webkit-keyframes fadeslow {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes fadeslow {
  from {opacity: 0}
  to {opacity: 1}
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0}
  to {opacity: 1}
}

/* start of size adjustments for fonts and header */
/* phone screen size */
@media only screen and (max-width: 700px) {
  #headerdiv {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  #navbar {display: none;}
  .subnav-bk {display: none;}
  #landing-page-slideshow {
    display: block;
    position: relative;
    top: 0%;
    right: 1.5%;
  }
  img.myslides-laptop {
    display: none;
  }
  #landing-page-spacer {display: none;}
  /* Dropdown Button */
  .phonedropbtn {
    border: none;
    cursor: pointer;
    background-color: #F9F8F2;
    width: 100%;
    text-align: center;
  }

  /* The container <div> - needed to position the dropdown content */
  .phone-menu-drop {
    position: relative;
    display: block;
    text-align: center;
    margin-top: 0;
  }

  /* Dropdown Content (Hidden by Default) */
  .phone-menu-droplist {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    text-decoration: none;
    text-align: center;
    list-style: none;
    background-color: #F9F8F2;
  }

  /* Links inside the dropdown */
  .phone-menu-droplist a {
    padding: 2% 3%;
    text-decoration: none;
    display: block;
    text-align: center;

  }

  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}
  #header {
    color: black;
    font-size: 5vw;
    font-family: 'Cormorant', serif;
    font-weight: 400;
    line-height: 2.2;
  }
  small {
    color: grey;
    font-size: 2.5vw;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.5;
  }
   h2 {
    color: black;
    font-size: 3.8vw;
    font-family: 'Cormorant', serif;
    font-weight: 300;
  }
  p {
    color: grey;
    font-size: 2.3vw;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.4;
  }
  ul.phone-menu-drop {
  list-style-type: none;
  padding: 0;
  width: 20%;
  height: 100%; /* Full height */
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto; /* Enable scrolling if the sidenav has too much content */
  text-align: center;
  }
  .responsive {
    display: none;
  }
  .column-painting3 {
    display: none;
  }
  .responsive-books {
    display: none;
  }
  .row-int {
    display: none;
  }
  .responsive-mobile {
    display: block;
  }
  #photo-galleries-mobile {
    position: relative;
  }
  #laptop-break {
    display: none;
  }
}

/* iPad size */
@media only screen and (min-width: 701px) {
  #phone-menu {display: none;}
  #landing-page-slideshow {
    margin-left: 50%;
    width: 50%;
  }
  #header {
    color: black;
    font-size: 3vw;
    font-family: 'Cormorant', serif;
    font-weight: 400;
    padding: 0;
  }
  img.myslides-laptop {
    display: none;
  }
  small {
    color: grey;
    font-size: 1.5vw;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
  }
   h2 {
    color: black;
    font-size: 2.5vw;
    font-family: 'Cormorant', serif;
    font-weight: 300;
    line-height: 1.0;
  }
  p {
    color: grey;
    font-size: 1.7vw;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.4;
  }
  li {

  }
  li a, .dropbtn {

  }
  li.dropdown {

  }
  .dropdown-content {

  }
  .dropdown-content a {

  }
  .responsive-mobile {
    display: none;
  }
}

/* laptop size */
@media only screen and (min-width: 1001px) {
  #phone-menu {display: none;}
  #landing-page-slideshow {
    margin-left: 50%;
    width: 50%;
  }
  #header {
    color: black;
    font-size: 2.3vw;
    font-family: 'Cormorant', serif;
    font-weight: 400;
    padding: 0;
    position: fixed;
    margin-top: 5vh;
    margin-left: 1.5vw;
  }
  img.myslides-mobile {
    display: none;
  }
  img.myslides-laptop {
    display: block;
  }
  small {
    color: grey;
    font-size: 1.1vw;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
  }
  h3 {
    color: black;
    font-size: 1.1vw;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
  }
   h2 {
    color: black;
    font-size: 1.5vw;
    font-family: 'Cormorant', serif;
    font-weight: 300;
  }
  p {
    color: grey;
    font-size: 1.1vw;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.4;
  }
  ul {
  list-style-type: none;
  margin-top: 20vh;
  margin-left: 1.5vw;
  padding: 0;
  width: 11%;
  height: 100%; /* Full height */
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto; /* Enable scrolling if the sidenav has too much content */
  }
  li {
    padding: 0 0 0.5vw;
  }
  ul.navbar{
    line-height: 3vh;
  }
  ul.subnav {
    list-style-type: none;
    margin-top: 20vh;
    margin-left: 10.5vw;
    padding: 0;
    width: 8%;
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
  }
  ul.subnav-bk {
    list-style-type: none;
    margin-top: 20vh;
    margin-left: 13vw;
    padding: 0;
    width: 20%;
    height: 100%; /* Full height */
    line-height: 3vh;
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
  }
  ul.subsubnav {
    list-style-type: none;
    margin-top: 20vh;
    margin-left: 13vw;
    padding: 0;
    width: 20%;
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
  }
  .responsive-mobile {
    display: none;
  }
  .row-one {
  display: flex;
  flex-wrap: wrap;
  padding: 0 1% 0 65%;
  }
  .copyright-laptop {
    position: fixed;
    bottom: 0;
    height: 7vh;
    width: 50vw;
    border: 0px
    solid black;
    padding-left: 4.5vw;
  }
}
/* end of size adjustments for fonts and header */

a:link#dropbtn {text-decoration: none; color: black;}
a:visited#dropbtn {color: black;}
a:hover#dropbtn {color: grey;}

a:link#cvbtn {text-decoration: none; color: black;}
a:visited#cvbtn {color: black;}
a:hover#cvbtn {color: grey;}

a:link#exhibitionsbtn {text-decoration: none; color: black;}
a:visited#exhibitionsbtn {color: black;}
a:hover#exhibitionsbtn {color: grey;}

a:link#publicationsbtn {text-decoration: none; color: black;}
a:visited#publicationsbtn {color: black;}
a:hover#publicationsbtn {color: grey;}

a:link#contactbtn {text-decoration: none; color: black;}
a:visited#contactbtn {color: black;}
a:hover#contactbtn {color: grey;}

a:link#photographybtn {text-decoration: none; color: black;}
a:visited#photographybtn {color: black;}
a:hover#photographybtn {color: grey;}

a:link#installationbtn {text-decoration: none; color: black;}
a:visited#installationbtn {color: black;}
a:hover#installationbtn {color: grey;}

a:link#videobtn {text-decoration: none; color: black;}
a:visited#videobtn {color: black;}
a:hover#videobtn {color: grey;}

a:link#paintingbtn {text-decoration: none; color: black;}
a:visited#paintingbtn {color: black;}
a:hover#paintingbtn {color: grey;}

a:link#paperbtn {text-decoration: none; color: black;}
a:visited#paperbtn {color: black;}
a:hover#paperbtn {color: grey;}

a:link#dropbtn2 {text-decoration: none; color: grey;}
a:visited#dropbtn2 {color: grey;}
a:hover#dropbtn2 {color: black;}

a:link#booksbtn {text-decoration: none; color: black;}
a:visited#booksbtn {color: black;}
a:hover#booksbtn {color: grey;}

a:link#writingbtn {text-decoration: none; color: black;}
a:visited#writingbtn {color: black;}
a:hover#writingbtn {color: grey;}

a:link#oilbtn-o {text-decoration: none; color: black;}
a:visited#oilbtn-o {color: black;}
a:hover#oilbtn-o {color: grey;}
a:link#watercolourbtn-o {text-decoration: none; color: black;}
a:visited#watercolourbtn-o {color: black;}
a:hover#watercolourbtn-o {color: grey;}
a:active#watercolourbtn-o {color: grey;}

a:link#oilbtn-w {text-decoration: none; color: black;}
a:visited#oilbtn-w {color:  black;}
a:hover#oilbtn-w {color: grey;}
a:link#watercolourbtn-w {text-decoration: none; color: black;}
a:visited#watercolourbtn-w {color: black;}
a:hover#watercolourbtn-w {color: grey;}

.subnav:hover {
  {display: block;}
  li a.active {color: black;}
  li a:hover:not(.active) {color: grey;}
}
.subnav-bk:hover {
  {display: block;}
  li a.active {color: black;}
  li a:hover:not(.active) {color: grey;}
}

a.subsubnav:link {text-decoration: none; color: grey;}
a.subsubnav:visited {color: grey;}
a.subsubnav:hover {color: black;}

a.subnav-bk:link {text-decoration: none; color: grey;}
a.subnav-bk:visited {color: grey;}
a.subnav-bk:hover {color: black;}

.subsubnav:hover {
  {display: block;}
  li a.active {color: black;}
  li a:hover:not(.active) {color: grey;}
  }

.subnav-bk:hover {
  {display: block;}
  li a.active {color: black;}
  li a:hover:not(.active) {color: grey;}
  }

a:link#header {text-decoration: none; color: black;}
a:visited#header {color: black;}
a:hover#header {color: grey;}

a.inlinelink:link {text-decoration: none; color: black;}
a.inlinelink:visited {color: black;}
a.inlinelink:hover {color: grey;}

a:link#contacttext1 {text-decoration: none; color: grey;}
a:visited#contacttext1 {color: grey;}
a:hover#contacttext1 {color: black;}

a:link#contacttext2 {text-decoration: none; color: grey;}
a:visited#contacttext2 {color: grey;}
a:hover#contacttext2 {color: black;}

* {
  box-sizing: border-box;
}

[class*="col-"] {
  width: 100%;
  float: left;
  padding-left: 3%;
  padding-right: 3%;
  border: 0px solid grey;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

@media only screen and (max-width: 700px) {
  /* For extra small devices like phones: */
  .col-es-1 {width: 8.33%;}
  .col-es-2 {width: 16.66%;}
  .col-es-3 {width: 25%;}
  .col-es-4 {width: 33.33%;}
  .col-es-5 {width: 41.66%;}
  .col-es-6 {width: 50%;}
  .col-es-7 {width: 58.33%;}
  .col-es-8 {width: 66.66%;}
  .col-es-9 {width: 75%;}
  .col-es-10 {width: 83.33%;}
  .col-es-11 {width: 91.66%;}
  .col-es-12 {width: 100%;}
  #break1 {display: none;}
  #spacer {display: none;}
  #spacer2 {display: none;}
  .desktop-spacer {display: none;}
}

/*column size adjustments only (START)*/

@media only screen and (max-width: 1000px) {
  #bookheaderspacer {display: none;}
  #veneer-bottom-spacer {display: none;}
}

@media only screen and (min-width: 701px) {
  /* For small devices like tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
  /* For medium devices like landscape tablets and mini laptops: */
  .col-m-1 {width: 8.33%;}
  .col-m-2 {width: 16.66%;}
  .col-m-3 {width: 25%;}
  .col-m-4 {width: 33.33%;}
  .col-m-5 {width: 41.66%;}
  .col-m-6 {width: 50%;}
  .col-m-7 {width: 58.33%;}
  .col-m-8 {width: 66.66%;}
  .col-m-9 {width: 75%;}
  .col-m-10 {width: 83.33%;}
  .col-m-11 {width: 91.66%;}
  .col-m-12 {width: 100%;}
}

@media only screen and (min-width: 992px) {
  /* For large devices like laptops or desktops: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

@media only screen and (min-width: 1200px) {
  /* For extra large devices like large desktops and laptops: */
  .col-l-1 {width: 8.33%;}
  .col-l-2 {width: 16.66%;}
  .col-l-3 {width: 25%;}
  .col-l-4 {width: 33.33%;}
  .col-l-5 {width: 41.66%;}
  .col-l-6 {width: 50%;}
  .col-l-7 {width: 58.33%;}
  .col-l-8 {width: 66.66%;}
  .col-l-9 {width: 75%;}
  .col-l-10 {width: 83.33%;}
  .col-l-11 {width: 91.66%;}
  .col-l-12 {width: 100%;}
}

/*column size adjustments only (END)*/

#dropdownlist {
  display: none;
}
.centretitle {text-align: center;}

div.gallery {
  border: 0px solid grey;
}

div.gallery {
  cursor: pointer;
  transition: 0.1s;
}
div.gallery:hover {opacity: 0.7;}

div.gallery img {
  width: 100%;
  height: auto;
}

div.modal {
  border: 0px solid grey;
}

div.modal {
  cursor: pointer;
  transition: 0.1s;
}

div.modal img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 1em;
  text-align: center;
  color: black;
  font-size: 1vw;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

div.desc a {
  text-decoration: none;
  color: black;
}
div.desc-bk {
  padding-top: 0.5em;
  text-align: left;
  color: black;
  font-size: 1vw;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.5em;
}

div.desc-bk a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding-left: 38em;
  padding-right: 3em;
  margin-left: 1em;
  margin-right: 1em;
  float: right;
  width: 100%;
}
.responsive-ph {
  padding-left: 45em;
  padding-right: 3em;
  margin-left: 1em;
  margin-right: 1em;
  float: right;
  width: 100%;
}
.responsive-video {
  padding-left: 2.3em;
  padding-right: 2.3em;
  float: left;
  width: 49.99999%;
}
.responsive-books {
  padding-left: 4.5em;
  padding-right: 4.5em;
  margin-bottom: 2em;
  float: left;
  width: 100%;
}
div.responsive-books {border: 0px solid grey;}
.responsive-writing {
  padding-left: 3em;
  padding-right: 3em;
  float: left;
  width: 33.33333%;
}

@media only screen and (max-width: 1000px) {
  .responsive {
    width: 100%;
    margin: 6px 0;
  }
  .responsive-video {
    width: 100%;
    margin: 6px 0;
  }
  .responsive-books {
    padding-left: 1.3em;
    padding-right: 1.3em;
    float: left;
    width: 49.99999%;
  }
  .responsive-writing {
    padding-left: 1.3em;
    padding-right: 1.3em;
    float: left;
    width: 33.33333%;
  }
  div.desc {
    padding: 1em;
    text-align: center;
    color: black;
    font-size: 1.5vw;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
  }
  div.desc-bk {
    padding: 1em;
    text-align: left;
    color: black;
    font-size: 1.5vw;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
  }
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 100%;
  }
  .responsive-books {
    width: 100%;
    border: 0px solid grey;
    margin-top: 0;
  }
  .responsive-writing {
    width: 100%;
    border: 0px solid grey;
    margin-top: 0;
  }
  #writing-spacer-1 {display: none;}
  div.desc {
    padding: 1em;
    text-align: center;
    color: black;
    font-size: 2.8vw;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
  }
  div.desc-bk {
    padding: 1em;
    text-align: left;
    color: black;
    font-size: 2.8vw;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.photoimages {
  width: auto;
  height: 40vh;
  margin-top: 1.5em;
}
.installationimages {
  width: auto;
  height: 40vh;
  margin-top: 1.5em;
}
.videoimages {
  width: auto;
  height: 40vh;
  margin-top: 1.5em;
}
.paintingimages {
  width: auto;
  height: 40vh;
  margin-top: 1.5em;
}
.bookimages {
  width: auto;
  margin-top: 0;
}
.writingimages {
  width: auto;
  height: 40vh;
  margin-top: 1.5em;
}

  .row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  }

  /* Create four equal columns that sit next to each other */
  .column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
  }

  .column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  }

  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
  }
      /* Style the Image Used to Trigger the Modal */
    .ph-tr {
      cursor: pointer;
    }
    .painting-tr {
      cursor: pointer;
      transition: 0.3s;
      width: auto;
      height: 40vh;
      margin-top: 1.5em;
    }
    .painting-tr:hover {opacity: 0.7;}

    /* The Modal (background) */
    .ph-m {
      cursor: pointer;
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 0; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    }
    /* Modal Content (Image) */
    .ph-mc {
      margin: auto;
      display: block;
      height: 100%;
      max-height: 100%;
      object-fit: contain;
    }
    /* Add Animation */
    .ph-mc, #caption {
      -webkit-animation-name: zoom;
      -webkit-animation-duration: 0.3s;
      animation-name: zoom;
      animation-duration: 0.3s;
    }
    @-webkit-keyframes zoom {
      from {-webkit-transform:scale(0)}
      to {-webkit-transform:scale(1)}
    }
    @keyframes zoom {
      from {transform:scale(0)}
      to {transform:scale(1)}
    }
    /* The Close Button */
    .ph-c, .hmpg-c {
      position: absolute;
      top: 15px;
      right: 35px;
      color: #f1f1f1;
      font-size: 40px;
      font-weight: bold;
      transition: 0.3s;
    }
    /* 100% Image Width on Smaller Screens */
    @media only screen and (max-width: 700px){
      .ph-mc, .hmpg-mc {
        width: 100%;
      }
    }

/* Create one column */
.column-one {
flex: 100%;
max-width: 100%;
padding: 0 4px;
}

.column-one img {
margin-top: 8px;
vertical-align: middle;
width: 100%;
height: auto;
}

.row-one-v2 {
display: flex;
flex-wrap: wrap;
padding: 0 1% 0 55%;
}

/* Create one column */
.column-one-v2 {
flex: 100%;
max-width: 100%;
padding: 0 4px;
}

.column-one-v2 img {
margin-top: 10px;
vertical-align: middle;
width: 100%;
height: auto;
}

img.ph-tr:hover {opacity: 0.7;}

.row-vn {
display: flex;
flex-wrap: wrap;
padding: 0 4px;
}

/* Create six equal columns that sit next to each other */
.column-vn {
flex: 16.66%;
max-width: 16.66%;
padding: 0 4px;
}

.column-vn img {
margin-top: 8px;
vertical-align: middle;
width: 100%;
}

.row-bdst {
display: flex;
flex-wrap: wrap;
padding: 0 4px;
}

/* Create three equal columns that sit next to each other */
.column-bdst {
flex: 33.33%;
max-width: 33.33%;
padding: 0 12px;
padding-bottom: 3em;
}

.column-bdst img {
margin-top: 8px;
vertical-align: middle;
width: 100%;
}

.row-int {
display: flex;
flex-wrap: wrap;
padding: 0% 0% 0% 50%;
}

/* Create four equal columns that sit next to each other */
.column-int {
flex: 25%;
max-width: 25%;
padding: 0 20px;
padding-bottom: 1em;
}

.column-int img {
margin-top: 8px;
vertical-align: middle;
width: 100%;
}
#int-caption-middle {display: none;}

.row-painting3 {
display: flex;
flex-wrap: wrap;
padding: 0 4px;
}

/* Create two equal columns that sit next to each other */
.column-painting3 {
flex: 50%;
max-width: 50%;
padding: 0 20px;
padding-bottom: 1em;
}

.column-painting3 img {
margin-top: 8px;
vertical-align: middle;
width: 100%;
}
#painting3-caption-middle {display: none;}
#unt-tw-caption-middle {display: none;}
#tianmu-caption-middle {display: none;}

.column-reverie {
flex: 50%;
max-width: 50%;
padding: 0 1%;
padding-bottom: 1%;
}

.column-reverie img {
margin-top: 8px;
vertical-align: middle;
width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1000px) {
.column-vn {
flex: 33.32%;
max-width: 33.32%;
}
.column-bdst {
flex: 50%;
max-width: 50%;
}
.column-int {
flex: 50%;
max-width: 50%;
}
#column-int-spacer {display: none;}
#int-caption-middle {display: none;}
.column-painting3 {
flex: 50%;
max-width: 50%;
}
#painting3-caption-middle {display: none;}
#unt-tw-caption-middle {display: none;}
#column-tianmu-spacer {display: none;}
#tianmu-caption-middle {display: none;}

}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 700px) {
.column-vn {
flex: 50%;
max-width: 50%;
}
.column-bdst {
flex: 100%;
max-width: 100%;
}
.column-int {
flex: 100%;
max-width: 100%;
}
#column-int-spacer {display: none;}
#int-caption-bottom {display: none;}
#int-caption-middle {display: block;}
.column-painting3 {
flex: 100%;
max-width: 100%;
}
#painting3-caption-bottom {display: none;}
#painting3-caption-middle {display: block;}
#unt-tw-caption-bottom {display: none;}
#unt-tw-caption-middle {display: block;}
#column-tianmu-spacer {display: none;}
#tianmu-caption-bottom {display: none;}
#tianmu-caption-middle {display: block;}
#ihc-macl-7-tr, #ihc-shp-1-tr, #painting4-1-tr, #trm-ii-1-tr, #trm-i-1-tr, #pn-thunder-1-tr, #mnwp-1-tr, #bk-awaas-9-tr, #bk-si-1-tr, #bk-mt-1-tr {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
}

/* NOTE: site-wide animations */
.centretitle, #navbar, #header, #cvexhibitions, #cveducation, #contact {animation:opac 2s}@keyframes opac{from{opacity:0} to{opacity:1}}

/* Fading animation for .subsubnav */
.fadeintoleft {
  -webkit-animation-name: fadeintoleft;
  -webkit-animation-duration: 1s;
  animation-name: fadeintoleft;
  animation-duration: 1s;
}

@-webkit-keyframes fadeintoleft {
  from {opacity: 0; left: 0%;}
  to {opacity: 1; left: 3.5%;}
}

@keyframes fadeintoleft {
  from {opacity: 0; left: 0%;}
  to {opacity: 1; left: 3.5%;}
}
